
.major {
  background-color: #fff2c5;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px currentColor; 
    .slick-prev:before {
      color: rgb(34, 42, 53);
    } 
    .slick-next:before {
      color: rgb(34, 42, 53);
    
  }
}

.title-shows {
  font-size: 30px;
  text-align: left;
  color: #fff2c5;
  font-weight: bold;
  
}
.big {
  font-size: 40px;
  padding: 5px;
  color: rgb(34, 42, 53);
}

