.wrapper-dashboard {
  background-color: #3b4c63;
  header {
    height: 130px;
    .top {
      background-color: rgb(34, 42, 53);
      height: 67px;
    }
    .logo {
      background-image: url(../../logo.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 120px;
      width: 300px;
    }
    .slogan {
      color: #fff2c5;
      font-size: 35px;
      font-weight: bold;
    }
  }
  .major {
    background-color: #fff2c5;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px currentColor; 
      .slick-prev:before {
        color: rgb(34, 42, 53);
      } 
      .slick-next:before {
        color: rgb(34, 42, 53);
      
    }
  }
  .title-shows {
    font-size: 30px;
    text-align: left;
    color: #fff2c5;
    font-weight: bold;
    
  }
  .big {
    font-size: 40px;
    padding: 5px;
    color: rgb(34, 42, 53);
  }
  
}
.custom-button {
  color:  #3b4c63;
  width: 180px;
  height: 60px;
  background-color: #fff2c5;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  white-space: none;
}

.custom-button:hover {
  box-shadow: 0 0 10px 5px rgb(34, 42, 53);
  background-color: #cac09c ;
}

.custom-button:active {
  background-color: #afa581 ;
}
