.poster-general {
  width: 180px;
  height: 240px;
  background-position: center;
  background-size: cover;
}
.title-general {
  font-size: 20px;
  color: rgb(34, 42, 53);
}
.subtitle {
  color: gray;
}
